{% include browser-upgrade.html %}
<div class="nav-wrapper">
	<header id="site-nav">
	    
	    <h1 class="logo">
	    	<a  href="{{site.url}}/about.html" style="background: url('/images/{{site.owner.avatar}}');background-size:80px 80px" title="Learn more about me">
	    	</a>
		</h1>	
	    <nav>
	    	<a class="sublink-home" href="/">Home</a>
	        <a class="sublink-home" href="/articles">Blog</a>
	        <a class="sublink-home" href="#code" data-subnav="#code">Code</a>
	        <a class="sublink-popular" href="#tags" data-subnav="#tags">Tag</a>
	        <a class="sublink-popular" href="/links">Links</a>
	        <a class="sublink-search" href="#search" data-subnav="#search">Search</a>
	    </nav>
	    <section class="sub" role="subnav" style="display: none;">
		<a class="sub-x" href="#">Close</a>

		<div id="trend" class="sub-popular" style="display: none;">
			<div id="addthis_trendingcontent"></div>
		</div>

		<div id="code" class="sub-category" style="display: none;">
			<a href="http://github.com/haoch" target="_blank"><span>Github</span></a>
			<a href="https://bitbucket.org/haoch" target="_blank"><span>Bitbucket</span></a>
		</div>

		<div id="tags" class="sub-category" style="display: none;">
		<!--
			<a href="/blog/category/advertising-products">Advertising Products</a>
			<a href="/blog/category/analytics-2">Analytics</a>
			<a href="/blog/category/ceo-corner">CEO's Corner</a>
			<a href="/blog/category/company-news">Company News</a>
			<a href="/blog/category/current-events">Current Events</a>
			<a href="/blog/category/data-decisions">Data Decisions</a>
			<a href="/blog/category/data-trends">Data Trends</a>
			<a href="/blog/category/design">Design</a>
			<a href="/blog/category/engineering">Engineering</a>
			<a href="/blog/category/features-tips">Features &amp; Tips</a>
			<a href="/blog/category/funness">Funness</a>
		-->
			{% assign tags_list = site.tags %}  
			  {% if tags_list.first[0] == null %}
			    {% for tag in tags_list %} 
			    <a href="{{ site.url }}/tags#{{ tag | replace:' ','-' | downcase }}" data-tag="{{tag}}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
			    {% endfor %}
			  {% else %}
			    {% for tag in tags_list %} 
			    <a href="{{ site.url }}/tags/#{{ tag[0] | replace:' ','-' | downcase }}" data-tag="{{tag[0]}}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
			    {% endfor %}
			  {% endif %}
			{% assign tags_list = nil %}
		</div>
		<div id="search" class="sub-search" style="display: none;">
			<script type="text/javascript">function googl(form) {var q = window.encodeURIComponent(form["q"].value);var url = "http://www.google.com/search?q=site:{{site.url}} ";url = url + q;window.location = url;return false;}</script>
			<form method="get" id="searchform" action="http://www.google.com.hk/search" class="faded-in" style="display: block;" onSubmit="return googl(this);" method="get">
				<input type="text" class="search-field" name="q" id="q" placeholder="Search">
				<input type="submit" class="search-submit" name="submit" id="searchsubmit" value="Search">
			</form>
		</div>
	</section>
	</header>
</div>
